body{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

@media (max-width:560px) {
    .slider{
        text-align: center;
        top: 10vh;
        height: 20vh;
        width: 80vw;
    }
    
    img{
        margin: 0 auto;
        padding: 0 auto;
        height: calc(35vw*0.7);
        width: 35vw;
        max-width: 170px;
        max-height: 100px;
    }
}

@media (min-width:560px) {
    .slider{
        text-align: center;
        top: 10vh;
        height: 100px;
        width: 80vw;
        max-width: 960px;
    }
    
    img{
        margin: 0 auto;
        padding: 0 auto;
        height: calc(15vw*0.7);
        width: 15vw;
        max-width: 150px;
        max-height: 105px;
    }
}
