background-color: #fcee0a;
  display: flex;
  justify-content:center;
  margin-top:5%;
  margin-bottom:5%;
}
.main{
  padding: 40px;
  width: 250px;
  background-color: #00ffd2;
  border: 2px solid #fd0130;
}

h1{
  margin-left: 25%;
  margin-right: 25%;
}

p{
  padding: 5%;
  border: 1px solid #fd0130;
  border-radius: 3px;
}
